#projects {
    margin-top: 10rem;
    background: rgba(165, 42, 42, 0.226);
    h1 {
        font-size: 20vw;
        font-family: "MuseoModerno", sans-serif;
        color: transparent;
        margin: 0 5%;
        margin-bottom: -7%;
        font-weight: 600;
        position: relative;
    }

    & div {
        display: flex;
        width: 100%;
        padding: 0 14%;
        gap: 4%;
    }
}

.project {
    aspect-ratio: 16 / 9.005;
    margin-bottom: 4rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    opacity: 0;
    .bg {
        position: absolute;
        /* height: 10px; */
        left: 0;
        z-index: 10;
    }

    .element {
        top: 6%;
        position: absolute;
        left: 0;
        object-fit: contain;
        height: 100%;
        z-index: 8;

        &:hover .project-para-cursor {
            display: visible;
        }
    }
}

@media (max-width : 500px) {
    #projects div{
        flex-direction: column;
        padding: 0;
    }
    .project{
        width: 80% !important;
        margin: 5%;
    }
    .project:nth-child(even) {
        margin-left: 15%;
    }
    
}